.bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 1px;
	width: 0;
	z-index: 100000;
	pointer-events: none;
	background: linear-gradient(to right, var(--accent2), var(--accent));
	transform-origin: 0 0;
	opacity: 0;
	transition:
		width 0.2s ease,
		opacity 0.25s ease;
}

.active {
	opacity: 1;
}

.instant {
	transition: opacity 0.25s ease;
}
